.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  padding: 5%;
}

.container-button {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  /* background-color: aqua; */
  width: 80%;
  flex: 1;
  padding: 50px;
}

button.weapon {
  height: 300px;
  width: 300px;
  border-radius: 13%;
  color: black;
  border-width: 0;
  /* background-color: rgba(128, 128, 128, 0.5); */
  font-size: 80px;
}

.container-score {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
  flex: 1;
  /* padding: 50px; */
}

.score-message {
  font-size: 120px;
  border: none;
  color: lightslategrey;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.container-result {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex: 1;
  /* background-color: violet; */
  /* padding: 50px; */
  width: 80%;
}

.result-choice {
  font-size: 80px;
  border: none;
  color: lightslategrey;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 5rem;
  text-align: center;
  margin-inline: 10rem;
  /* background-color: brown; */
  flex: 1;
}

.result-message {
  font-size: 300px;
  border: none;
  color: lightslategrey;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  /* background-color: coral; */
  flex: 2;
}

button.replay {
  height: 50px;
  border-radius: 13%;
  color: rgb(163, 163, 163);
  border-width: 0;
  background-color: rgba(128, 128, 128, 0.1);
  font-size: 30px;
  font-variant-caps: all-petite-caps;
}
