.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* background-color: aquamarine; */
}

.container-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  flex: 1;
  padding: 25px;
  /* background-color: aqua; */
}

button.weapon {
  width: 200px;
  line-height: 200px;
  border-radius: 13%;
  border-width: 0;
  font-size: 80px;
  /* background-color: rgba(128, 128, 128, 0.5); */
}

.container-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* background-color: yellow; */
}

.score-message {
  font-size: 120px;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 10px;
  color: lightslategrey;
}

.container-result {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex: 1;
  width: 80%;
  /* background-color: violet; */
}

.result-choice {
  font-size: 80px;
  line-height: 80px;
  color: lightslategrey;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  margin-inline: 10px;
  flex: 1;
  /* background-color: brown; */
}

.result-message {
  font-size: 200px;
  line-height: 200px;
  color: lightslategrey;
  font-variant-caps: all-petite-caps;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  flex: 1;
  /* background-color: coral; */
}

button.replay {
  margin-top: 20px;
  height: 50px;
  border-radius: 13%;
  border-width: 0;
  font-size: 30px;
  font-variant-caps: all-petite-caps;
  color: rgb(163, 163, 163);
  background-color: rgba(128, 128, 128, 0.1);
}
